<%= form_tag("/posts/#{@post.id}/comments", :name => "commentform", :remote=>true) %>

  <div class="field">
    <%= label_tag :author %><br />
	<% if session[:user_id] then %>
		<%= text_field_tag :author, User.find(session[:user_id]).email %>
	<% else %>
    		<%= text_field_tag :author %>
	<% end %>
  </div>
  <br />
  <div class="field">
    <%= label_tag :body %><br />
    <%= text_area_tag :body %>
  </div>
  <div class="actions">
    <%= submit_tag value = "Create Comment" %>
  </div>
