$("body table tbody").append("<tr><td><%= escape_javascript(@comment.author)%></td><td><%= escape_javascript(@comment.body)%>&nbsp; &nbsp;</td><td><%= escape_javascript(button_to('Delete Comment', "/posts/#{@post.id}/comments/#{@comment.id}", :method => "delete", :style => "background: #F1F1F1; color: #2CA2AF; width:130px; height: 19px; font-size: small"))  %>&nbsp; &nbsp;</td><td><i><%= escape_javascript("posted on : " + @post.created_at.to_s.chomp('UTC'))%></i>&nbsp; &nbsp;</td></tr>");
$("form[data-remote]").remove();
$("a[href='<%= new_post_comment_path(@post.id) %>']").fadeIn();

