<!DOCTYPE html>
<html>
<head>
  <title>Blog d'Hélène</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "main" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="border">
<div class="content-navigation">
<% if current_user then %> 
<p align=right> Connected as <i><%= User.find(current_user.id).email %></i> | <%= link_to 'Log out', "/sessions/current_user", :method => 'delete'%> | <%= link_to 'Delete your account', "/users/#{session[:user_id]}", :method => 'delete'%> </p>
<% end %>
<div class=accueil> Welcome on Helen's blog !</div>
<%= yield %>
</div>
</div>
</body>
</html>
